.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.header-title {
  font-size: 30px;
  margin-left: 10px;
}

.header-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.hr-style{
  height: 2px;
  background-color: black;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
}