html,
body {
  height: 100%;
}

body {
  background-color: rgb(206, 205, 205);
}

.container {
  display: flex;
  flex-direction: row;
  max-height: 100%;
}

.rightlayout {
  width: 100vw;
  min-height: 100vh;
  max-height: 100%;
}
