.rootMenubar {
  height: 100%;
}

.containerMenubar {
  background-color: rgba(47, 46, 46, 0.5);
  height: 100%;
}

.menutittle {
  text-align: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}

.togglebtn {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
}

.image {
  filter: grayscale(100%);
  -webkit-filter: brightness(0%);
  /* color: black; */
}
