.content-container {
  background-color: white;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  max-height: fit-content;
  width: 97%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.tabbar {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.biggest-detail-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgb(61, 61, 61);
  border-radius: 5px;
}

.tabs-container{
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.tabs-position button{
  margin-right: 5px;
}

.class-detail {
  flex: 1;
  display: flex;
  align-items: stretch;
  position: relative;
  background-color: #e6e6e6;
  border-radius: 5px;
  margin-bottom: 17px;
  padding: 0px 10px 0px 10px;
  margin: 0px 5px 5px 5px;
}

.search-item {
  padding: 10px 0;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-item input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-btn {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-btn button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.column-9 {
  flex: 9;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
}

.column-3 {
  flex: 3;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.class-show {
  width: 100%;
  height: fit-content;
  background-color: grey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.lable-div {
  display: flex;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.class-item {
  display: flex;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.lable-div span {
  text-align: center;
  padding: 5px;
  width: 15%;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }

  @media screen and (max-width: 480px) {
    font-size: 8px;
  }
}

.class-info {
  display: flex;
  flex-direction: column;
}

.class-item span {
  text-align: center;
  width: 15%;
  overflow: visible;
  text-overflow: ellipsis;
  padding: 5px;
  white-space: normal;
}

.class-item span {
  white-space: pre-wrap;
  font-size: 16px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }

  @media screen and (max-width: 480px) {
    font-size: 8px;
  }
}

.class-item.even {
  background-color: lightgray;
}

.class-item.odd {
  background-color: whitesmoke;
}
